{% extends 'base.html' %}

{% block title %}Your recommendations{% endblock %}

{% block content %}
<main role="main" class="container">
    {% if not recommendations %}
    <div class="alert alert-warning" role="alert">
        <p align="center">No recommendations yet.</p>
    </div>
</main>
{% else %}
<div class="container">
    <link rel="stylesheet" href="{{ url_for('static', filename='recommendation-table.css') }}">
    <h2 align="center">Recommendations</h2>
    <hr>
    <table class="table table-condensed" style="border-collapse:collapse;">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Type</th>
            <th scope="col">Episodes</th>
            <th scope="col">Studio</th>
            <th scope="col">Source</th>
            <th scope="col">Genre</th>
            <th scope="col">Score</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
            {% for recommendation in recommendations %}
            {% set outer_loop = loop %}
            <tr>
            {% for key in recommendation.keys() %}
                {% if key == 'title' %}
                <td>{{ recommendation[key] }}
                    <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target=".{{ outer_loop.index }}">Info</button>
                    <div class="modal fade {{ outer_loop.index }}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-4"> <img src="{{ recommendation['image_url'] }}"></div>
                                        <div class="col-sm-8"> {{ recommendation['synopsis'] }}
                                            <p style="margin: 5px 0 10px" align="center"><a href="{{ recommendation['url'] }}"> Visit page </a></p>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </td>
                {% elif key != 'synopsis' and key != 'image_url' and key != 'url' %}
                <td>{{ recommendation[key] }}</td>
                {% endif %}
                {% if key == 'score' %}
                <td><button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#exampleModalCenter">ADD</button></td>
                <td><button class="btn btn-warning btn-xs" onclick="location.href='{{ url_for('recommendations.delete_recommendation', row_id=recommendation['title'])}}'" title="Remove from recommendations" type="button">DEL</button></td>
                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title" align="center" id="exampleModalLongTitle">Enter score</h4>
                      </div>
                      <div class="modal-body">
                    <form class="form-inline" method="POST" action="{{ url_for('recommendations.add_to_list', row_id=recommendation['title']) }}">
                        <div class="form-group mx-sm-6">
                            <div class="row">
                                <div class="col-sm-3">
                                </div>
                                <div class="col-sm-3">
                                    <label for="personal-score" class="sr-only">Score</label>
                                    <input  align="center" name="personal-score" id="personal-score" class="form-control" placeholder="Score">
                                </div>
                                <div class="col-sm-3">
                                    <label class="btn btn-warning"> Submit <input type="submit" style="display: none;"/></label>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>
                        </div>
                    </form>
                      </div>
                      <div class="modal-footer">
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}

                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endif %}
{% endblock %}

