table.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-collapse: collapse;
  padding: 10px;
  margin-bottom: 20px;
}

.dataframe tbody { display:block; max-height:450px; overflow-y:scroll; }
.dataframe thead, .dataframe tbody tr { display:table; width:100%; table-layout:fixed; }
tr:hover {
    background-color: #f5f5f5;
}
