{% extends 'base.html' %}

{% block title %}Upload{% endblock %}

{% block content %}
<div align="center" class="container">
    <form action = "{{ url_for('anilist.add_title') }}" method="post">
        <hr>
        <div class="row">
            <div class="col-lg-2">
            </div>

            <div class="col-lg-3">
                <div class="form-group row">
                  <div class="col-1">
                      <input name="Title" id="title" placeholder="Title" class="form-control" type="text" required="required" >
                  </div>
                </div>
               <div class="form-group row">
                  <div class="col-1">
                      <input name="Type" id="type" placeholder="Type" class="form-control" type="text" required="required" >
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-1">
                      <input name="Episodes" id="episodes" placeholder="Episodes" class="form-control" type="text" required="required" >
                  </div>
                </div>
               <div class="form-group row">
                  <div class="col-1">
                      <input name="Studios" id="studio" placeholder="Studio" class="form-control" type="text" required="required" >
                  </div>
                </div>
            </div>

            <div class="col-lg-2">
            </div>

            <div class="col-lg-3">
                <div class="form-group row">
                    <div class="col-1">
                        <input name="Source" id="source" placeholder="Source" class="form-control" type="text" required="required" >
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-1">
                        <input name="Genres" id="genre" placeholder="Genre" class="form-control" type="text" required="required" >
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-1">
                        <input name="Score" id="score" placeholder="MAL score" class="form-control" type="text" required="required" >
                    </div>
                 </div>
                <div class="form-group row">
                    <div class="col-1">
                        <input name="Personal score" id="personal_score" placeholder="Your score" class="form-control" type="text" required="required" >
                    </div>
                </div>
            </div>

            <div class="col-lg-2">
            </div>
        </div>
        <button class="btn btn-info" type="submit">Submit</button>
    </form>

</div>
{% endblock %}
