{% extends 'base.html' %}

{% block title %}Upload{% endblock %}

{% block content %}
<main role="main" class="container">
    <div class="container marketing">
        <div class="row">
            <div class="col-lg-6">
                <h2 align="center">From database</h2>
                <p>Create or update your anime list from suggested titles. If you creating list from scratch, then select at least 300 titles you have watched for algorithm to be able to make predictions.</p>
                <form action = "{{ url_for('anilist.upload_file') }}" method="POST" enctype="multipart/form-data">
                    <button class="btn btn-default" onclick="location.href='{{ url_for('anilist.create_from_scratch') }}'" type="button">Create list</button>
                </form>
            </div>
            <div class="col-lg-6">
                <h2 align="center">From site</h2>
                <p>Upload anime list directly from MAL site using custom parser. Only classic style of anime list is supported. Creation of list might take a while and execution time depend on number of completed titles.</p>
                <form class="form-inline" method="POST">
                    <div class="form-group mx-sm-3">
                        <label for="mal_username" class="sr-only">MAL username</label>
                        <input name="mal_username" id="mal_username" value="{{ request.form['mal_username'] }}" class="form-control" placeholder="MAL username">
                    </div>
                    <label class="btn btn-default"> Load <input type="submit" style="display: none;"/></label>
                </form>
            </div>
        </div>
    </div>
    {% for message in get_flashed_messages() %}
    <div class="flash" align="center"><br>{{ message }}</div>
    {% endfor %}
</main>
{% endblock %}