{% extends 'bootstrap/base.html' %}


<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='navbar.css') }}">

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('prediction.index') }}">Animator</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if g.user %}
                <li><a href="{{ url_for('prediction.get_prediction') }}">Get prediction</a></li>
                <li><a href="{{ url_for('recommendations.show_recommendations') }}">Recommendations</a></li>
                <li><a href="{{ url_for('anilist.create_debug') }}">Debug</a></li>
                {% endif %}
                <li><a href="">Help</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if g.user %}
                    {% if g.user.privilege %}
                        <li><a href="{{ url_for('administration.administration_panel_index') }}">Administration</a></li>
                    {% endif %}
                <li><a>{{ g.user['username'] }}</a></li>
                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Login</a>
                <li><a href="{{ url_for('auth.register') }}">Register</a>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}